.round-border > video {
  border-radius: 15px;
}

.round-border {
  max-width: 1000px !important;
  margin: 0 auto;
}

@media only screen and (max-width: 1700px) {
  .round-border {
    max-width: 900px !important;
  }
}

@media only screen and (max-width: 1400px) {
  .round-border {
    max-width: 650px !important;
  }
}

@media only screen and (max-width: 960px) {
  .round-border {
    max-width: 100% !important;
  }
}
